.section {
    padding: 0;
    background-color: #ce1b28;
    color: rgba(255, 255, 255, 0.88);
    background-attachment: fixed;
    background-image: linear-gradient( rgba(206, 27, 40, 0.45), rgba(206, 27, 40, 0.45) ), url(/Broken-dream-cafe/static/media/coffee-beans-in-glass-mobile.a9184eb9.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1;
}

.container {
	position: relative;
    z-index: 3;
    max-width: calc(100% - 3rem);
    margin: 0 auto;
    width: 75rem;
	padding: 40px 10px;
}

.headerTitle {
    color: #ffca00;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
}

/* .container h2,
.container p {
	-webkit-animation: scale-in 1.3s ease-out;
	-moz-animation: scale-in 1.3s ease-out;
	animation: scale-in 1.3s ease-out;
} */

.introText {
	/* color: #e5d4ed;
	display: inline-block;
	max-width: 80%;
  padding-top: 1%;
  font-size: 1.5em;
	margin: auto; */
	/* top: 220px;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 1;  */
	margin: 0 0 2rem 0;
	font-size: 1.3rem;
}

@media all and (min-width: 767px) {
	.headerTitle {
		font-size: 3rem;
		margin-bottom: 0;
	}
	
	.introText {
		font-size: 1.5rem;
		line-height: 1.7;
	}
}
