/* The Logo image and the title should be displayed on the same line */

.header__logo {
    display: inline-flex;
    margin: 0 auto;
}

.header__logo__name {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: large;
    padding-left: 10px;
}

/* .header__logo__img {
    display: inline-block;
    max-width: 28px;
}

.header__logo__name {
    display: inline-block;
}

.nav-li {
    display: block;
}

@media (min-width: 600px) {
    .nav-li {
        display: inline-block;
    }
}

.logo {
    padding: 0.2rem;
} */