/* Partially took from https://codepen.io/hellokatili/full/rVvMZb */

.section {
	background-color: #f6f4ef;
}

.container {
	/* width: 100%;
    display: block;
    color: #666666;
    font-size: 36px;
    margin: 0 20px;
    position: relative;
    float: left; */
    padding-top: 5vh;
    height: 69vh;
    overflow-y: auto;
}

.portrait {
	position: relative;
	margin: auto;
	height: 140px;
	width: 140px;
	overflow: hidden;
	-webkit-clip-path: polygon(
		50% 0%,
		83% 12%,
		100% 43%,
		94% 78%,
		68% 100%,
		32% 100%,
		6% 78%,
		0% 43%,
		17% 12%
	);
	clip-path: polygon(
		50% 0%,
		83% 12%,
		100% 43%,
		94% 78%,
		68% 100%,
		32% 100%,
		6% 78%,
		0% 43%,
		17% 12%
	);
}

img {
	display: block;
	height: auto;
	width: 100%;
}

.quote {
    position: relative;
    /* z-index: 600; */
    margin-top: 4vh;
    padding: 0 6% 0 6%;
    font-size: 1.5rem;
    font-family: Calibri;
    color: rgb(199, 30, 95);
}

.quotePara {
	position: relative;
	margin-bottom: 20px;
}

.quote cite {
    display: block;
    font-size: 1.4rem;
    color: #595756;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: right;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 960px) {
	.container {
		height: 400px;
	}

	.quote {
		font-size: 2rem;
	}
}